<!DOCTYPE html>
<title>Home Page</title>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/user.js"></script>

</head>

<body ng-app="UserApp" ng-controller="UserCtrl">
<!-- Navigation -->
<div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="homePage.html">Analiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutPage.html">Personality Analyzer Nedir?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="developerteamPage.html">Biz Kimiz?</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>

<!-- Masthead -->
<header class="masthead text-white text-center" style="background-color:white;background:url(/img/personality_7.jpg)no-repeat center center">
    <div class="overlay"></div>
    <div class="container" ng-show="!isLoading">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Kullanıcı Adını Girerek Kişiliği Analiz Et!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="username" class="form-control form-control-lg" placeholder="@" ng-model="username">
                        </div>
                        <div class="col-12 col-md-3">
                            <button ng-click="analyzeButton(username)" type="submit" class="btn btn-block btn-lg btn-primary" style="background-color: black;border-color: black">Analiz</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <img src="/img/loading5.gif" ng-show="isLoading" />
</header>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img src="/img/neuroticism.png" height="100" width="100">
                    </div>
                    <h4>Nevrotiklik</h4>
                    <p class="lead mb-0">Nevrotiklik üzüntü, karamsarlık ve duygusal dengesizlik ile karakterize
                        bir özelliktir. Bu özellige sahip olan kisiler, ruh hali degisimleri, kaygı, sinirlilik
                        ve üzüntü yasama egilimindedirler. Bu özelligi düsük olanlar daha stabil ve duygusal
                        olarak dirençli olma egilimindedir.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img src="/img/conscientiousness.png" height="90" width="130">
                    </div>
                    <h4>Dürüstlük</h4>
                    <p class="lead mb-0">Bu karakterin standart özellikleri arasında fazla düsünceli olma,
                        kendini kontrol etme ve hedefe yönelik davranıslar bulunur. Son derece vicdan sahibi insanlar organize
                        olma ve ayrıntılara dikkat etme egilimindedir. Önceden plan yaparlar, davranıslarının baskalarını
                        nasıl etkiledigini düsünürler ve son teslim tarihlerine dikkat ederler.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img src="/img/agreeableness.png">
                    </div>
                    <h4>Uyumluluk</h4>
                    <p class="lead mb-0">Bu kisilik boyutu, güven, fedakarlık, nezaket, sefkat ve diger sosyal davranıslar gibi nitelikleri içerir.
                        Kabul edilebilirligi yüksek olan insanlar daha kooperatif olma egilimindeyken, bu özelligi düsük olanlar daha rekabetçi
                        ve hatta bazen manipülatif olma egilimindedir.</p>
                </div>
            </div>
            <div class="col-lg-4" style="margin-left: 220px">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img src="/img/extraversion.png" height="100" width="100">
                    </div>
                    <h4>Dısa Dönüklük</h4>
                    <p class="lead mb-0">Dısa dönüklük, uyarılabilirlik, giriskenlik, konusma yetenegi,
                        atılganlık ve yüksek miktarda duygusal ifade ile karakterizedir. Dısa dönüklük özelligi yüksek olan insanlar
                        dısarı çıkma ve sosyal durumlarda enerji kazanma egilimindedir. Baskalarının yanında olmak onların kendilerini
                        enerjik ve heyecanlı hissetmelerine yardımcı olur. Dısa dönüklük özelligi düsük (ya da içe dönük) insanlar daha fazla
                        ayrılma egilimindedir ve enerjiyi sosyal ortamlarda tüketmek zorundadır. Sosyal olaylar drene olabilir ve
                        içe dönük seyler genellikle “sarj olmak” için yalnızlık süresi ve sessizlik gerektirir.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img src="/img/opennes.png" height="90" width="130">
                    </div>
                    <h4>Deneyime Açıklık</h4>
                    <p class="lead mb-0">Bu özellikteki kisiler, hayal gücü ve içgörü gibi özelliklere sahiptir. Bu özelligi yüksek olan insanlar
                        da genis bir ilgi alanına girme egilimindedir. Dünyayı ve diger insanları merak ediyorlar ve yeni seyler
                        ögrenmeye ve yeni deneyimlerden zevk almaya hevesliler. Daha maceracı ve yaratıcı olma egilimindedir.
                        Bu özelligi düsük insanlar genellikle daha gelenekseldir ve soyut düsünceyle
                        mücadele edebilirler.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>