<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/user.js"></script>
</head>
<body>
<div>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <a class="navbar" style="color: white" href="homePage.html">Analiz</a>
            <a class="navbar" style="color: white" href="aboutPage.html">Personality Analyzer Nedir?</a>
            <a class="navbar" style="color: white" href="developerteamPage.html">Biz Kimiz ?</a>
            <a class="navbar" style="color: white" href="profile.html">Profil</a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
<header class="masthead text-white text-center align-text-top" style="background-color:white;background:url(/img/personality_2.jpg)no-repeat center center">
    <div class="overlay"></div>
    <div class="container" ng-app="UserApp" ng-controller="UserCtrl" ng-init="pageOpen()">
        <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">{{account.username}} - Kullanıcı profili</h1>
            <div class="table-responsive table-striped">
                <table class="table table-sm table-dark">
                    <tbody>
                    <tr>
                        <td>Kullanıcı adı</td>
                        <td>{{account.username}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ad</td>
                        <td>{{account.name}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Soyad</td>
                        <td>{{account.surname}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{account.email}}</td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="temp in account.history" ng-if="account.history.length > 0">
                        <td ng-if="account.history.length > 0">Analiz id</td>
                        <td ng-init="findResultById(temp)" ng-if="account.history.length > 0">{{temp}}</td>
                        <td ng-if="account.history.length > 0"></td>
                        <td ng-if="account.history.length > 0"></td>
                        <td ng-if="account.history.length > 0">Deneyime açıklık</td>
                        <td ng-if="account.history.length > 0">{{result.opennes}}</td>
                        <td ng-if="account.history.length > 0"></td>
                        <td ng-if="account.history.length > 0">Dışa dönüklük</td>
                        <td ng-if="account.history.length > 0">{{result.extraversion}}</td>
                        <td ng-if="account.history.length > 0"></td>
                        <td ng-if="account.history.length > 0">Sorumluluk</td>
                        <td ng-if="account.history.length > 0">{{result.conscientiousness}}</td>
                        <td ng-if="account.history.length > 0"></td>
                        <td ng-if="account.history.length > 0">Duygusal Denge</td>
                        <td ng-if="account.history.length > 0">{{result.neuroticism}}</td>
                        <td ng-if="account.history.length > 0"></td>
                        <td ng-if="account.history.length > 0">Uyumluluk</td>
                        <td ng-if="account.history.length > 0">{{result.aggreeableness}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</header>

</body>
</html>