<!DOCTYPE html>
<title>Sonuçlar</title>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/user.js"></script>
    <script src="/js/result.js"></script>

</head>

<body  ng-app="ResultApp" ng-controller="ResultCtrl">
<!-- Navigation -->
<div>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <a class="navbar" style="color: white" href="homePage.html">Analiz</a>
            <a class="navbar" style="color: white" href="aboutPage.html">Personality Analyzer Nedir ?</a>
            <a class="navbar" style="color: white" href="developerteamPage.html">Biz Kimiz ?</a>
            <a class="navbar" style="color: white" href="profile.html">Profil</a>
            <a class="navbar" style="color: white" href="logIn.html" ng-click="logout()">Log out</a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
<!-- Masthead -->
<header class="masthead text-white text-center" style="background-color:white;background:url(/img/personality_7.jpg)no-repeat center center" ng-init="getResults()">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">{{result.username}} - Analiz Sonuçları</h1>
        </div>
            <!-- News jumbotron -->
            <div class="jumbotron text-center hoverable p-4" ng-if="result.opennes == 'Uygun'" style="background-color:#5cb85c">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <!-- Featured image -->
                        <img src="/img/opennes.png" style="height:90px;width:130px" class="img-fluid" alt="Sample image for first version of blog listing">
                        <div>
                            <p>Deneyime Açıklık</p>
                            <p>{{result.opennes}}</p>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">
                        <p>Çok yaratıcı.</p>
                        <p>Yeni şeyler denemeye açık.</p>
                        <p>Zorluklarla mücadele etmeye odaklı.</p>
                        <p>Soyut kavramlar hakkında düşünmeyi sever.</p>
                    </div>
                    <!-- Grid column -->
                </div><!-- Grid row -->
            </div>
            <!-- News jumbotron -->
            <div class="jumbotron text-center hoverable p-4" ng-if="result.opennes == 'Uygun Değil'" style="background-color:#d9534f">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <!-- Featured image -->
                        <img src="/img/opennes.png" style="height:90px;width:130px" class="img-fluid" alt="Sample image for first version of blog listing">
                        <div>
                            <p>Deneyime Açıklık</p>
                            <p>{{result.opennes}}</p>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">
                        <p>Değişiklikleri sevmez.</p>
                        <p>Yeni şeylerden zevk almaz.</p>
                        <p>Yeni fikirlere direnir.</p>
                        <p>Çok yaratıcı değildir.</p>
                        <p>Soyut veya teorik kavramları sevmez.</p>
                    </div>
                    <!-- Grid column -->
                </div><!-- Grid row -->
            </div>
            <!-- News jumbotron -->
            <div class="jumbotron text-center hoverable p-4"  ng-if="result.extraversion == 'Uygun'"  style="background-color:#5cb85c">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <!-- Featured image -->
                        <img src="/img/extraversion.png" height="100" width="100" class="img-fluid" alt="Sample image for first version of blog listing">
                        <div>
                            <p>Dışa Dönüklük</p>
                            <p>{{result.extraversion}}</p>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">
                        <p>İlgi odağı olmaktan hoşlanır.</p>
                        <p>Konuşma başlatmayı sever.</p>
                        <p>Yeni insanlarla tanışmaktan hoşlanır.</p>
                        <p>Geniş sosyal arkadaş çevresi ve tanıdıklar var.</p>
                        <p>Kolayca yeni arkadaş edinebilir.</p>
                        <p>Diğer insanların yanındayken enerjik hisseder.</p>
                        <p>İnsanlar hakkında bir şeyler söylemeden önce düşünür.</p>
                    </div>
                    <!-- Grid column -->
                </div><!-- Grid row -->
            </div>
            <!-- News jumbotron -->
            <div class="jumbotron text-center hoverable p-4"  ng-if="result.extraversion == 'Uygun Değil'"  style="background-color:#d9534f">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <!-- Featured image -->
                        <img src="/img/extraversion.png" height="100" width="100" class="img-fluid" alt="Sample image for first version of blog listing">
                        <div>
                            <p>Dışa dönüklük</p>
                            <p>{{result.extraversion}}</p>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">
                        <p>Yalnızlığı tercih eder.</p>
                        <p>Sosyalleşmeyi zor bulur.</p>
                        <p>Konuşma başlatmayı zor bulur.</p>
                        <p>Kısa sohbetlerden hoşlanmıyor</p>
                        <p>Konuşmadan önce bir şeyleri dikkatlice düşünür.</p>
                        <p>İlgi odağı olmayı sevmez.</p>
                    </div>
                    <!-- Grid column -->
                </div><!-- Grid row -->
            </div>
            <div class="jumbotron text-center hoverable p-4"  ng-if="result.aggreeableness == 'Uygun'"  style="background-color:#5cb85c">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <!-- Featured image -->
                        <img src="/img/agreeableness.png" class="img-fluid" alt="Sample image for first version of blog listing">
                        <div>
                            <p>Uyumluluk</p>
                            <p>{{result.aggreeableness}}</p>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">
                        <p>Başka insanlara çok fazla ilgi gösterir.<p>
                        <p>Başkalarını önemser.</p>
                        <p>Empati kurar ve diğer insanlar için endişe eder.</p>
                        <p>Başkalarının mutlu olması için yardım etmeyi ve katkıda bulunmayı sever.</p>
                        <p>Yardıma muhtaç olanlara yardım eder.</p>
                    </div>
                    <!-- Grid column -->
                </div><!-- Grid row -->
            </div>
            <div class="jumbotron text-center hoverable p-4"  ng-if="result.aggreeableness == 'Uygun Değil'"  style="background-color:#d9534f">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <!-- Featured image -->
                        <img src="/img/agreeableness.png" class="img-fluid" alt="Sample image for first version of blog listing">
                        <div>
                            <p>Uyumluluk</p>
                            <p>{{result.aggreeableness}}</p>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">
                        <p>Başkalarına az ilgi gösterir.</p>
                        <p>Başkalarının nasıl hissettiği umrunda değildir.</p>
                        <p>Diğer insanların sorunlarına çok az ilgi duyar.</p>
                        <p>Başkalarına hakaret eder ve aşağılar.</p>
                        <p>İstediklerini elde etmek için başkalarını manipüle eder.</p>
                    </div>
                    <!-- Grid column -->
                </div><!-- Grid row -->
            </div>
            <div class="jumbotron text-center hoverable p-4"  ng-if="result.neuroticism == 'Uygun'"  style="background-color:#d9534f">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <!-- Featured image -->
                        <img src="/img/neuroticism.png" height="100" width="100" class="img-fluid" alt="Sample image for first version of blog listing">
                        <div>
                            <p>Nevrotiklik</p>
                            <p>{{result.neuroticism}}</p>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">
                        <p>Çok fazla stres yaşar.</p>
                        <p>Birçok farklı şey hakkında endişelenir.</p>
                        <p>Kolayca üzülür.</p>
                        <p>DRuh halindeki dramatik değişimleri deneyimler.</p>
                        <p>Endişeli hisseder.</p>
                        <p>Stresli olaylardan sonra kendine toplamak için çabalar.</p>
                    </div>
                    <!-- Grid column -->
                </div><!-- Grid row -->
            </div>
            <div class="jumbotron text-center hoverable p-4"  ng-if="result.neuroticism == 'Uygun Değil'"  style="background-color:#5cb85c">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <!-- Featured image -->
                        <img src="/img/neuroticism.png" height="100" width="100" class="img-fluid" alt="Sample image for first version of blog listing">
                        <div>
                            <p>Nevrotiklik</p>
                            <p>{{result.neuroticism}}</p>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">
                        <p>Duygusal olarak istikrarlıdır.</p>
                        <p>Stresle başa çıkabilir</p>
                        <p>Nadiren üzgün veya depresyonda hisseder.</p>
                        <p>Çok endişelenmez.</p>
                        <p>Genelde çok rahattır.</p>
                    </div>
                    <!-- Grid column -->
                </div><!-- Grid row -->
            </div>
            <div class="jumbotron text-center hoverable p-4"  ng-if="result.conscientiousness == 'Uygun'"  style="background-color:#5cb85c">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <!-- Featured image -->
                        <img src="/img/conscientiousness.png" height="90" width="130" class="img-fluid" alt="Sample image for first version of blog listing">
                        <div>
                            <p >Sorumluluk</p>
                            <p>{{result.conscientiousness}}</p>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">
                        <p>Hazırlık için çok zaman harcar.</p>
                        <p>Önemli işleri hemen bitirir.</p>
                        <p>Detaylara dikkat eder.</p>
                        <p>Ayarlanmış bir zamanlamaya sahip olmaktan hoşlanır.</p>
                    </div>
                    <!-- Grid column -->
                </div><!-- Grid row -->
            </div>
            <div class="jumbotron text-center hoverable p-4"  ng-if="result.conscientiousness == 'Uygun Değil'"  style="background-color:#d9534f">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <!-- Featured image -->
                        <img src="/img/conscientiousness.png" height="90" width="130" class="img-fluid" alt="Sample image for first version of blog listing">
                        <div>
                            <p >Sorumluluk</p>
                            <p>{{result.conscientiousness}}</p>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-7 text-md-left ml-3 mt-3">
                        <p>Yapı ve programları beğenmez.</p>
                        <p>Dağınıktır ve ilgilenmesi gereken şeylerle ilgilenmez.</p>
                        <p>Aldığı şeyleri geri getirmez veya ait oldukları yere geri koyamaz.</p>
                        <p>Önemli işleri erteler.</p>
                        <p>Gerekli veya atanmış görevleri tamamlayamaz.</p>
                    </div>
                    <!-- Grid column -->
                </div><!-- Grid row -->
            </div>
        <div class="form-row">
            <div class="col-12 col-md-3">
                <button ng-click="showDetails()" type="submit" class="btn btn-block btn-lg btn-primary" style="background-color: black;border-color: black;width:160px">Detay>></button>
            </div>
        </div>
    </div>
</header>
</body>
</html>