<!DOCTYPE html>
<title>Sonuçlar</title>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->

    <!-- Custom fonts for this template -->
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/user.js"></script>
    <script src="/js/result.js"></script>

    <!-- Slider -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/result-slider.css">
    <script src="/js/result-slider.js"></script>


</head>

<body ng-app="ResultApp" ng-controller="ResultCtrl">
<!-- Navigation -->
<div>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <a class="navbar" style="color: white" href="homePage.html">Analiz</a>
            <a class="navbar" style="color: white" href="aboutPage.html">Personality Analyzer Nedir?</a>
            <a class="navbar" style="color: white" href="developerteamPage.html">Biz Kimiz ?</a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
<!-- Masthead -->
<header class="masthead text-white text-center"
        style="background-color:white;background:url(/img/personality_7.jpg)no-repeat center center"
        ng-init="getResults()">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">{{result.username}} - Analiz Sonuçları</h1>
        </div>
        <!-- Slider -->
        <section class="iq-features">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12"></div>
                    <div class="col-lg-6 col-md-12">
                        <div class="holderCircle">
                            <div class="round"></div>
                            <div class="dotCircle" style="transform: rotate(360deg); transition: all 2s ease 0s;">
                               <span class="itemDot active itemDot1" data-tab="1" >
                               <i class="fa fa-clock-o"></i>
                               <span class="forActive"></span>
                               </span>
                                <span class="itemDot itemDot2" data-tab="2" >
                           <i class="fa fa-comments"></i>
                           <span class="forActive"></span>
                           </span>
                                <span class="itemDot itemDot3" data-tab="3" >
                           <i class="fa fa-user"></i>
                           <span class="forActive"></span>
                           </span>
                                <span class="itemDot itemDot4" data-tab="4" >
                           <i class="fa fa-tags"></i>
                           <span class="forActive"></span>
                           </span>
                                <span class="itemDot itemDot5" data-tab="5">
                           <i class="fa fa-upload"></i>
                           <span class="forActive"></span>
                           </span>
                                <span class="itemDot itemDot6" data-tab="6" >
                           <i class="fa fa-briefcase"></i>
                           <span class="forActive"></span>
                           </span>
                            </div>
                            <div class="contentCircle">
                                <div class="CirItem title-box active CirItem1">
                                    <h2 class="title"><span>Sorumluluk</span></h2>
                                    <div ng-if="result.conscientiousness == 'Uygun'">
                                        <h3 style="color: #5cb85c">{{result.conscientiousness}}</h3>
                                        <p style="color: #ffffff">Hazırlık için çok zaman harcar.</p>
                                        <p style="color: #ffffff">Önemli işleri hemen bitirir.</p>
                                        <p style="color: #ffffff">Detaylara dikkat eder.</p>
                                        <p style="color: #ffffff">Ayarlanmış bir zamanlamaya sahip olmaktan hoşlanır.</p>
                                    </div>
                                    <div ng-if="result.conscientiousness == 'Uygun Değil'">
                                        <h3 style="color: #d9534f">{{result.conscientiousness}}</h3>
                                        <p style="color: #ffffff">Yapı ve programları beğenmez.</p>
                                        <p style="color: #ffffff">Dağınıktır ve ilgilenmesi gereken şeylerle ilgilenmez.</p>
                                        <p style="color: #ffffff">Aldığı şeyleri geri getirmez veya ait oldukları yere geri koyamaz.</p>
                                        <p style="color: #ffffff">Önemli işleri erteler.</p>
                                        <p style="color: #ffffff">Gerekli veya atanmış görevleri tamamlayamaz.</p>
                                    </div>
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <div class="CirItem title-box CirItem2">
                                    <h2 class="title"><span>Uyumluluk</span></h2>
                                    <div ng-if="result.aggreeableness == 'Uygun'">
                                        <h3 style="color: #5cb85c">{{result.aggreeableness }}</h3>
                                        <p style="color: #ffffff">Başka insanlara çok fazla ilgi gösterir.<p>
                                        <p style="color: #ffffff">Başkalarını önemser.</p>
                                        <p style="color: #ffffff">Empati kurar ve diğer insanlar için endişe eder.</p>
                                        <p style="color: #ffffff">Başkalarının mutlu olması için yardım etmeyi ve katkıda bulunmayı sever.</p>
                                        <p style="color: #ffffff">Yardıma muhtaç olanlara yardım eder.</p>
                                    </div>
                                    <div ng-if="result.aggreeableness == 'Uygun Değil'">
                                        <h3 style="color: #d9534f">{{result.aggreeableness }}</h3>
                                        <p style="color: #ffffff">Başkalarına az ilgi gösterir.</p>
                                        <p style="color: #ffffff">Başkalarının nasıl hissettiği umrunda değildir.</p>
                                        <p style="color: #ffffff">Diğer insanların sorunlarına çok az ilgi duyar.</p>
                                        <p style="color: #ffffff">Başkalarına hakaret eder ve aşağılar.</p>
                                        <p style="color: #ffffff">İstediklerini elde etmek için başkalarını manipüle eder.</p>
                                    </div>
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="CirItem title-box CirItem3">
                                    <h2 class="title"><span>Deneyime Açıklık</span></h2>
                                    <div ng-if="result.opennes == 'Uygun'">
                                        <h3 style="color: #5cb85c">{{result.opennes }}</h3>
                                        <p style="color: #ffffff">Değişiklikleri sevmez.</p>
                                        <p style="color: #ffffff">Yeni şeylerden zevk almaz.</p>
                                        <p style="color: #ffffff">Yeni fikirlere direnir.</p>
                                        <p style="color: #ffffff">Çok yaratıcı değildir.</p>
                                        <p style="color: #ffffff">Soyut veya teorik kavramları sevmez.</p>
                                    </div>
                                    <div ng-if="result.opennes == 'Uygun Değil'">
                                        <h3 style="color: #d9534f">{{result.opennes }}</h3>
                                        <p style="color: #ffffff">Değişiklikleri sevmez.</p>
                                        <p style="color: #ffffff">Yeni şeylerden zevk almaz.</p>
                                        <p style="color: #ffffff">Yeni fikirlere direnir.</p>
                                        <p style="color: #ffffff">Çok yaratıcı değildir.</p>
                                        <p style="color: #ffffff">Soyut veya teorik kavramları sevmez.</p>
                                    </div>
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="CirItem title-box CirItem4">
                                    <h2 class="title"><span>Duygusal Denge</span></h2>
                                    <div ng-if="result.neuroticism == 'Uygun'">
                                        <h3 style="color: #d9534f">{{result.neuroticism  }}</h3>
                                        <p style="color: #ffffff">Çok fazla stres yaşar.</p>
                                        <p style="color: #ffffff">Birçok farklı şey hakkında endişelenir.</p>
                                        <p style="color: #ffffff">Kolayca üzülür.</p>
                                        <p style="color: #ffffff">DRuh halindeki dramatik değişimleri deneyimler.</p>
                                        <p style="color: #ffffff">Endişeli hisseder.</p>
                                        <p style="color: #ffffff">Stresli olaylardan sonra kendine toplamak için çabalar.</p>
                                    </div>
                                    <div ng-if="result.neuroticism == 'Uygun Değil'">
                                        <h3 style="color: #5cb85c">{{result.neuroticism  }}</h3>
                                        <p style="color: #ffffff">Duygusal olarak istikrarlıdır.</p>
                                        <p style="color: #ffffff">Stresle başa çıkabilir</p>
                                        <p style="color: #ffffff">Nadiren üzgün veya depresyonda hisseder.</p>
                                        <p style="color: #ffffff">Çok endişelenmez.</p>
                                        <p style="color: #ffffff">Genelde çok rahattır.</p>
                                    </div>
                                    <i class="fa fa-tags"></i>
                                </div>
                                <div class="CirItem title-box CirItem5">
                                    <h2 class="title"><span>Dışa Dönüklülük</span></h2>
                                    <div ng-if="result.extraversion  == 'Uygun'">
                                        <h3 style="color: #5cb85c">{{result.extraversion }}</h3>
                                        <p style="color: #ffffff">İlgi odağı olmaktan hoşlanır.</p>
                                        <p style="color: #ffffff">Konuşma başlatmayı sever.</p>
                                        <p style="color: #ffffff">Yeni insanlarla tanışmaktan hoşlanır.</p>
                                        <p style="color: #ffffff">Geniş sosyal arkadaş çevresi ve tanıdıklar var.</p>
                                        <p style="color: #ffffff">Kolayca yeni arkadaş edinebilir.</p>
                                        <p style="color: #ffffff">Diğer insanların yanındayken enerjik hisseder.</p>
                                        <p style="color: #ffffff">İnsanlar hakkında bir şeyler söylemeden önce düşünür.</p>
                                    </div>
                                    <div ng-if="result.extraversion  == 'Uygun Değil'">
                                        <h3 style="color: #d9534f">{{result.extraversion }}</h3>
                                        <p style="color: #ffffff">Yalnızlığı tercih eder.</p>
                                        <p style="color: #ffffff">Sosyalleşmeyi zor bulur.</p>
                                        <p style="color: #ffffff">Konuşma başlatmayı zor bulur.</p>
                                        <p style="color: #ffffff">Kısa sohbetlerden hoşlanmıyor</p>
                                        <p style="color: #ffffff">Konuşmadan önce bir şeyleri dikkatlice düşünür.</p>
                                        <p style="color: #ffffff">İlgi odağı olmayı sevmez.</p>
                                    </div>
                                    <i class="fa fa-upload"></i>
                                </div>
                                <div class="CirItem title-box CirItem6">
                                    <h2 class="title"><span>Support</span></h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                    <i class="fa fa-briefcase"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12"></div>
                </div>
            </div>
        </section>
    </div>
</header>
</body>
</html>