<!DOCTYPE html>
<title>Sonuçlar</title>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Custom fonts for this template -->
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/user.js"></script>
    <script src="/js/result.js"></script>

    <!-- Slider -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/result-slider.css">
    <script src="/js/result-slider.js"></script>


</head>

<body ng-app="ResultApp" ng-controller="ResultCtrl">
<!-- Navigation -->
<div>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <a class="navbar" style="color: white" href="homePage.html">Analiz</a>
            <a class="navbar" style="color: white" href="aboutPage.html">Personality Analyzer Nedir?</a>
            <a class="navbar" style="color: white" href="developerteamPage.html">Biz Kimiz ?</a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
<!-- Masthead -->
<header class="masthead text-white text-center"
        style="background-color:white;background:url(/img/personality_7.jpg)no-repeat center center"
        ng-init="getResults()">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">{{result.username}} - Karakter Analiz Sonuçları</h1>
        </div>
        <!-- Slider -->
        <section class="iq-features">
            <div class="container" >
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12"></div>
                    <div class="col-lg-6 col-md-12">
                        <div class="holderCircle">
                            <div class="round"></div>
                            <div class="dotCircle" style="transform: rotate(360deg); transition: all 2s ease 0s">
                               <span class="itemDot active itemDot1" data-tab="1" style="background-image:url(/img/conscientiousness.png); background-repeat: no-repeat; background-position: center; background-size: auto;">
                                   <span class="forActive"></span>
                               </span>
                                <span class="itemDot itemDot2" data-tab="2" style="background-image:url(/img/agreeableness.png); background-repeat: no-repeat; background-position: center; background-size: auto;">
                                   <span class="forActive"></span>
							   </span>
                                <span class="itemDot itemDot3" data-tab="3" style="background-image:url(/img/opennes.png); background-repeat: no-repeat; background-position: center; background-size: auto;">
                                   <span class="forActive"></span>
                                </span>
                                <span class="itemDot itemDot4" data-tab="4" style="background-image:url(/img/neuroticism.png); background-repeat: no-repeat; background-position: center; background-size: auto; background-color: #373736">
                                   <span class="forActive"></span>
                                </span>
                                <span class="itemDot itemDot5" data-tab="5" style="background-image:url(/img/extraversion.png); background-repeat: no-repeat; background-position: center; background-size: auto;">
                                   <span class="forActive"></span>
                                </span>
                            </div>
                            <div class="contentCircle">
                                <div class="CirItem title-box active CirItem1">
                                    <h2 class="title"><span>Sorumluluk</span></h2>
                                    <div ng-if="result.conscientiousness == 'Uygun'">
                                        <h3 style="color: #5cb85c; padding-bottom: 20px">{{result.conscientiousness}}</h3>
                                        <ul style="line-height: 2; color: #ffffff; padding-left: 0px">
                                            <li>Hazırlık için çok zaman harcar.</li>
                                            <li>Önemli işleri hemen bitirir.</li>
                                            <li>Detaylara dikkat eder.</li>
                                            <li>Ayarlanmış bir zamanlamaya sahip olmaktan hoşlanır.</li>
                                        </ul>
                                    </div>
                                    <div ng-if="result.conscientiousness == 'Uygun Değil'">
                                        <h3 style="color: #d9534f; padding-bottom: 20px">{{result.conscientiousness}}</h3>
                                        <ul style="line-height: 2; color: #ffffff; padding-left: 0px">
                                            <li>Yapı ve programları beğenmez.</li>
                                            <li>Dağınıktır ve ilgilenmesi gereken şeylerle ilgilenmez.</li>
                                            <li>Aldığı şeyleri geri getirmez veya ait oldukları yere geri koyamaz.</li>
                                            <li>Önemli işleri erteler.</li>
                                            <li>Gerekli veya atanmış görevleri tamamlayamaz.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="CirItem title-box CirItem2">
                                    <h2 class="title"><span>Uyumluluk</span></h2>
                                    <div ng-if="result.aggreeableness == 'Uygun'">
                                        <h3 style="color: #5cb85c; padding-bottom: 20px">{{result.aggreeableness }}</h3>
                                        <ul style="line-height: 2; color: #ffffff; padding-left: 0px">
                                            <li>Başka insanlara çok fazla ilgi gösterir.</li>
                                            <li>Başkalarını önemser.</li>
                                            <li>Empati kurar ve diğer insanlar için endişe eder.</li>
                                            <li>Başkalarının mutlu olması için yardım etmeyi ve katkıda bulunmayı sever.</li>
                                            <li>Yardıma muhtaç olanlara yardım eder.</li>
                                        </ul>
                                    </div>
                                    <div ng-if="result.aggreeableness == 'Uygun Değil'">
                                        <h3 style="color: #d9534f; padding-bottom: 20px">{{result.aggreeableness }}</h3>
                                        <ul style="line-height: 2; color: #ffffff; padding-left: 0px">
                                            <li>Başkalarına az ilgi gösterir.</li>
                                            <li>Başkalarının nasıl hissettiği umrunda değildir.</li>
                                            <li>Diğer insanların sorunlarına çok az ilgi duyar.</li>
                                            <li>Başkalarına hakaret eder ve aşağılar.</li>
                                            <li>İstediklerini elde etmek için başkalarını manipüle eder.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="CirItem title-box CirItem3">
                                    <h2 class="title"><span>Deneyime Açıklık</span></h2>
                                    <div ng-if="result.opennes == 'Uygun'">
                                        <h3 style="color: #5cb85c; padding-bottom: 20px">{{result.opennes }}</h3>
                                        <ul style="line-height: 2; color: #ffffff; padding-left: 0px">
                                            <li>Değişiklikleri sevmez.</li>
                                            <li>Yeni şeylerden zevk almaz.</li>
                                            <li>Yeni fikirlere direnir.</li>
                                            <li>Çok yaratıcı değildir.</li>
                                            <li>Soyut veya teorik kavramları sevmez.</li>
                                        </ul>
                                    </div>
                                    <div ng-if="result.opennes == 'Uygun Değil'">
                                        <h3 style="color: #d9534f; padding-bottom: 20px">{{result.opennes }}</h3>
                                        <ul style="line-height: 2; color: #ffffff; padding-left: 0px">
                                            <li>Değişiklikleri sevmez.</li>
                                            <li>Yeni şeylerden zevk almaz.</li>
                                            <li>Yeni fikirlere direnir.</li>
                                            <li>Çok yaratıcı değildir.</li>
                                            <li>Soyut veya teorik kavramları sevmez.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="CirItem title-box CirItem4">
                                    <h2 class="title"><span>Duygusal Denge</span></h2>
                                    <div ng-if="result.neuroticism == 'Uygun'">
                                        <h3 style="color: #d9534f; padding-bottom: 20px">{{result.neuroticism  }}</h3>
                                        <ul style="line-height: 2; color: #ffffff; padding-left: 0px">
                                            <li>Çok fazla stres yaşar.</li>
                                            <li>Birçok farklı şey hakkında endişelenir.</li>
                                            <li>Kolayca üzülür.</li>
                                            <li>DRuh halindeki dramatik değişimleri deneyimler.</li>
                                            <li>Endişeli hisseder.</li>
                                            <li>Stresli olaylardan sonra kendine toplamak için çabalar.</li>
                                        </ul>
                                    </div>
                                    <div ng-if="result.neuroticism == 'Uygun Değil'">
                                        <h3 style="color: #5cb85c; padding-bottom: 20px">{{result.neuroticism  }}</h3>
                                        <ul style="line-height: 2; color: #ffffff; padding-left: 0px">
                                            <li>Duygusal olarak istikrarlıdır.</li>
                                            <li>Stresle başa çıkabilir</li>
                                            <li>Nadiren üzgün veya depresyonda hisseder.</li>
                                            <li>Çok endişelenmez.</li>
                                            <li>Genelde çok rahattır.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="CirItem title-box CirItem5">
                                    <h2 class="title"><span>Dışa Dönüklülük</span></h2>
                                    <div ng-if="result.extraversion  == 'Uygun'">
                                        <h3 style="color: #5cb85c; padding-bottom: 20px">{{result.extraversion }}</h3>
                                        <ul style="line-height: 2; color: #ffffff; padding-left: 0px">
                                            <li>İlgi odağı olmaktan hoşlanır.</li>
                                            <li>Konuşma başlatmayı sever.</li>
                                            <li>Yeni insanlarla tanışmaktan hoşlanır.</li>
                                            <li>Geniş sosyal arkadaş çevresi ve tanıdıklar var.</li>
                                            <li>Kolayca yeni arkadaş edinebilir.</li>
                                        </ul>
                                    </div>
                                    <div ng-if="result.extraversion  == 'Uygun Değil'">
                                        <h3 style="color: #d9534f; padding-bottom: 20px">{{result.extraversion }}</h3>
                                        <ul style="line-height: 2; color: #ffffff; padding-left: 0px">
                                            <li>Yalnızlığı tercih eder.</li>
                                            <li>Sosyalleşmeyi zor bulur.</li>
                                            <li>Konuşma başlatmayı zor bulur.</li>
                                            <li>Kısa sohbetlerden hoşlanmıyor</li>
                                            <li>Konuşmadan önce bir şeyleri dikkatlice düşünür.</li>
                                            <li>İlgi odağı olmayı sevmez.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12"></div>
                </div>
            </div>
        </section>
    </div>
</header>
</body>
</html>