<!DOCTYPE html>
<html lang="en">
<head>

    <title>Sign in</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/singin.css">

    <!-- Custom styles for this template -->
    <!--<link href="/css/landing-page.min.css" rel="stylesheet">-->

    <!-- Bootstrap core CSS -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/user.js"></script>

</head>
<body style="background-color:white">

<div>
    <div class="collapse" id="navbarToggleExternalContent">

    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>

<header class="masthead text-white text-center align-text-top" style="background-color:white;background:url(/img/personality_7.jpg)no-repeat center center" ng-app="UserApp" ng-controller="UserCtrl">
    <div class="overlay"></div>
    <div class="signup-form">
        <h2>Sign Up</h2>
        <p style="color:black">Please fill in this form to create an account!</p>
        <hr>
        <p></p>
        <p></p>
        <input type="text" class="form-control" name="username" placeholder="Username" required="required"
               ng-model="account.username">
        <p></p>
        <p></p>
        <input type="text" class="form-control" name="name" placeholder="First Name" required="required"
               ng-model="account.name">
        <p></p>
        <p></p>
        <input type="text" class="form-control" name="surname" placeholder="Last Name" required="required"
               ng-model="account.surname">
        <p></p>
        <p></p>
        <input type="email" class="form-control" name="email" placeholder="Email" required="required"
               ng-model="account.email">
        <p></p>
        <p></p>
        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="account.password" required="required">
        <p></p>
        <p></p>
        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password2" required="required">
        <p></p>
        <p></p>
        <button ng-click="accountCreate()" type="submit" class="btn btn-primary btn-lg" style="background-color: black">Sign Up</button>
        <div class="hint-text">Already have an account? <a href="index.html" style="color:black">Login </a>here</div>
    </div>
</header>

</body>
</html>